/* fix flickering transizione android*/
.ui-page {
  -webkit-backface-visibility: hidden;
}
.clear {
  clear: both;
}

a {
  text-decoration: none;
}

#home-content {
  text-align:center;
}

.home-button {
  width:100%;
  border: 1px solid #EEEEEE;
  margin-top: 1em;
}

#searchpage_locationaware {
  text-align:left;
  margin-bottom:1em;
}

#searchpage_locationaware h6 {
  -webkit-margin-before: 1em;
  width:60%;
  float:left;
}

#searchDetails {
  text-align: left;
}

.detailsLabel {
  font-weight:bold;
}

.detailsLabelIconRow {
  margin-left:1em;
}

#searchDetailsPage .ui-content {
  padding:10px;
}

.searchDetailsMainContainer {
  border: 1px solid #babdb6;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  background-color: #FFFFFF;
  overflow: auto;
  padding: 10px;
}

.searchDetailsPicContainer {
  text-align:center;
}

.searchDetailsPicContainer img {
  height: auto;
  border: 3px solid #dddddd;
  padding: 5px;
  margin: 5px 0px 5px 0px;
  width: 95%;
}
